<link rel="stylesheet" href="/assets/css/style.css">
<!-- barre latérale -->
	<div class="sidebar">
		<a href="/admin/dashboard">Dashboard</a>
		<a href="/admin/users">USER</a>
		<a href="/admin/train">Trains</a>
		<a href="/admin/station">Station</a>
		<a href="/admin/transit">Transit</a>

	</div>