{% extends 'layout.html.twig' %}


{% block content %}

{% include "Home/train-map.html.twig" %}
<div class="homepage bg-image">
    <div class="p-3 bg-color">  

    
            {% include "Home/bookmark.html.twig" %}
        <div class = "bg-Button py-3 mx-5 d-none d-md-flex">
            <div class = "container col-md-10 mx-auto w-50">
                <div class = "row">
                
        {% for station in stations %}

                    <div class="btn-desktop-train-menu d-grid gap-2 col-md-6 cd-6 py-2 pe-0">
                        <a href="/timesheet/train-list?id={{ station.id }}" class="btn btn-custom btn-hover-image px-3 py-3 rounded-pill border-light border-2 fw-bold text-start" role="button" > {{ station.name }}</a><br>
                    </div>
           
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
                </div>
            </div>
        </div>
        {% include "Home/index_mobile.html.twig" %}
    </div>
</div>    
{% endblock %}
