{% extends 'layout.html.twig' %}

{% block content %}
<div class="bg-image" >
    <div class="p-3 bg-color">  

    

        <div class="row pad">
            <div class = "text-center col-md-3"><div class="rightClass circle"></div></div>
            <div class="col-md-6"><h1 class="text-center text-light-emphasis text-md-danger">Choisissez votre gare</h1></div>
            <div class ="text-center col-md-3 "><div class="circle"></div></div>
        </div>

        <div class = 'bg-Button'>
            <div class = 'container col-md-10 mx-auto' >
                <div class = "row" >
        
        {% for station in stations %}

                    <div class="d-grid gap-1 col-md-6 cd-6 divButton">
                

                        <a href="/timesheet/train-list?id={{ station.id }}" class="btn btn-custom btn-hover-image " role="button" > {{ station.name }}</a><br>
                
                    </div>
           
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
       
    
    
{% endblock %}
