
<div class = 'container m-3 col-md-10 mx-auto d-block d-md-none p-2'>
    <div class = "row gap-3" >
        
        {% for station in stations %}

                    <div class="d-flex justify-content-center align-items-center col-md-4 mx-2">

                        <a 
                            href="/timesheet/train-list?id={{ station.id }}" 
                            class = "train-list-menu
                                    btn btn-custom btn-hover-mobile px-3 py-2
                                    border-2 border-light rounded-pill
                                    fw-bold text-start
                                    m-1"
                            role="button" > 
                                {{ station.name }}
                        </a><br>
                
                    </div>
           
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </div>
 </div>  
         