<section class="home-header text-light p-5 d-flex align-items-center justify-content-center">
    <div class="container rounded-pill text-center d-flex align-items-center justify-content-center">
                <h1 class="header-title mx-4 text-nowrap">Choisissez une gare</h1>     
    </div>
</section>
