<nav class="navbar z-2">
  <form class="container-fluid justify-content-between">
    <a href="/" class="logo btn btn-lg me-2" type="button">Traincker</a>

    {% if user %}
    {# Bookmark Button #}
    <button class="btn btn-lg btn-light rounded-pill" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Favoris</button>

    {# LogOut Button #}
    <a href="/logout" class="btn-login btn btn-primary" type="button"><span class="d-none d-md-inline">Deconnexion</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </a>

    {% else %}
    {# Login/Register Button #}
    <a href="/login " class="btn-login btn btn-primary" type="button"><span class="d-none d-md-inline">Connexion</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#000000"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3" />
    <circle cx="12" cy="10" r="3" />
    <circle cx="12" cy="12" r="10" />
    </svg>
    </a>

    {% endif %}
  </form>
</nav>