<nav class="navbar z-2">
	<form class="container-fluid justify-content-between">
		<a href="/" class="logo btn btn-lg me-2" type="button">Traincker</a>

		{% if user %}
			{# Bookmark Button #}
			<div class="ms-auto">
				<button class="btn btn-lg btn-light rounded-pill me-2 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Favoris</button>
			</div>
			
			{# LogOut Button #}
			<a href="/logout" class="btn-login btn btn-primary" type="button">
				<span class="d-none d-md-inline">Deconnexion</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewbox="0 0 16 16">
					<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
					<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/></svg>
			</a>

		{% else %}
			{# Login/Register Button #}
			<a href="/login " class="btn-login btn btn-primary" type="button">
				<span class="d-none d-md-inline">Connexion</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24" fill="none" stroke="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
					<path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/>
					<circle cx="12" cy="10" r="3"/>
					<circle cx="12" cy="12" r="10"/>
				</svg>
			</a>

		{% endif %}
	</form>
</nav>
