:root {
  /* fonts ------------*/
  --logo-font: 'Monoton', cursive;

  /* colors -----------*/

  --primary-color: #FFE073;
  --secondary-color: rgb(57, 80, 85);
  --light-color: white;
  --dark-color: #1E1E1E;

  /* Animation --------*/

  --main-transition: .5s cubic-bezier(0.2, 0, 0, 1);
  --on-air: 3s linear;
}

@keyframes push-up {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes push-down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 100%;
  }

  49% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 0%;
  }
}

.bg-image {
  background-image: url('../images/japan-train-railroad-railway-72594.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}


/* Timesheet -----------------------*/

.timesheet-header .dropdown-center:hover>.dropdown-menu {
  display: block;
}

.timesheet-header .dropdown-center>.dropdown-toggle:active {
  pointer-events: none;
}

.timesheet-header .dropdown-menu {
  background-color: var(--secondary-color);
}

.timesheet-header .dropdown-item {
  color: var(--primary-color);
}

.timesheet-header .dropdown-item:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.timesheet-header .dropdown-center .line::after {
  display: block;
  content: "";
  width: 50%;
  height: 1px;
  background-color: var(--primary-color);
}

.timesheet-header {
  height: 300px;
  width: 100vw;
}

.timesheet-header .page-header-image {
  background-image: url('/assets/images/woman-on-rails.jpg');
  background-size: cover;
}

.timesheet-header .glass-d {
  width: clamp(500px, 80vw, 700px);
  height: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  margin: auto;
}

.timesheet-header .glass-m {
  width: clamp(500px, 80vw, 700px);
  height: 60%;
  margin: auto;
}

.timesheet-header h3 {
  color: var(--light-color);
}

.timesheet-header .dropdown-center,
.timesheet-header .dropdown-menu {
  width: clamp(300px, 50vw, 500px);
}

.timesheet-header .dropdown-center .btn-primary {
  color: var(--secondary-color);
  font-weight: 600;
  background-color: var(--light-color);
  width: 100%;
}

/*-- train-list --*/

.train-card-title {
  background-color: var(--secondary-color);
}

.timesheet-trains .result-stroke {
  width: clamp(500px, 80%, 1000px);
  border-color: var(--primary-color) !important;
}

.train-card-title::before,
.train-card-title::after {
  display: inline-block;
  content: "";
  width: 10px;
  aspect-ratio: 1 / 1;
  background-color: var(--primary-color);
  border-radius: 50%;
  vertical-align: middle;
  translate: 0 -3px;
}

.train-card-title::before {
  margin: 0 20px 0 0;
}

.train-card-title::after {
  margin: 0 0 0 20px;
}

.timesheet-trains {
  background: linear-gradient(var(--secondary-color) 90%, var(--primary-color) 100%);
  min-height: 100vh;
}

.timesheet-trains article.card {
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--light-color);
}

.timesheet-trains article.train-card {
  transform: scale(100%);
  transform-origin: center;
  transition: var(--main-transition);

  animation: var(--main-transition) 0s 1 push-up;
}

.timesheet-trains article.train-card:hover {
  transform: scale(105%);
  border-color: var(--primary-color) !important;
}

.timesheet-trains article.card-late {
  transform: scale(100%);
  transform-origin: center;
  transition: var(--main-transition);

  animation: var(--main-transition) 0s 1 push-up;
}

.timesheet-trains article.card-late:hover {
  transform: scale(105%);
  border-color: red !important;
}

.train-number::after,
.train-to::after,
.train-stops-title::before {
  display: block;
  content: "";
  width: 100%;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  background-color: transparent;
  margin: 5px 0px;
}

.option-buttons .btn-primary {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: var(--light-color);
}

.option-buttons .delay:hover {
  background-color: red;
  color: var(--light-color);
}

.option-buttons .bookmark:hover {
  background-color: var(--light-color);
  color: var(--primary-color);
}

/* Train stops ------------------------------------------------------------------------------------------------------*/

.train-card .train-stops-menu {
  transition: grid-template-rows var(--main-transition);
}

.train-card .train-stops-menu > ul {
  overflow: hidden;
}

.bi-caret-down {
  transition: var(--main-transition);
}

/* Home header ------------------------------------------------------------------------------------------------------*/

.home-header {
  background-image: url('/assets/images/women-in-train.jpg');
  background-size: cover;
  background-origin: center;
  background-repeat: no-repeat;
  height: 40vh;
}

.home-header .container {
  background-color: rgba(57, 80, 85, 0.5);
  backdrop-filter: blur(10px);
  height: 10vh;
}

.home-header .header-title {
  animation: var(--main-transition) 0s 1 push-down;
}

/* Home ------------------------------------------------------------------------------------------------------*/

.homepage .bg-color {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgb(255, 224, 115, 0.9), rgba(57, 80, 85, 0.5));
}

.homepage .train-menu-title {
  height: 10vh;
}

.homepage .btn-hover-image::before {
  transition: all 0.2s linear 0s;
}

.homepage .btn-hover-image:after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--light-color);
  border-radius: 50%;
  translate: 0px;
  margin: 0 10px;
  transition: var(--main-transition);
}

.homepage .btn-hover-image:hover::after {
  translate: 20px 0;
  background-color: var(--secondary-color);
}

.train-list-menu {
  width: 240px;
  font-size: x-large;
}

.btn-hover-image,
.btn-hover-mobile {
  background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  color: var(--light-color);
  box-shadow: 10px 9px 0px 1px var(--secondary-color);
  transition: var(--main-transition);
  font-size: x-large;
}

.btn-hover-image:hover {
  background-image: linear-gradient(to left, var(--light-color), var(--primary-color));
  color: var(--secondary-color);
}

/* navbar -------------- */

nav.navbar {
  background-color: var(--primary-color);
}

nav form a.logo {
  font-family: var(--logo-font);
}

nav form a.logo:hover {
  color: var(--light-color);
}

nav form a.fav:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.navbar .btn-login {
  background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  transition: var(--main-transition);
  border-radius: 10px;
  color: var(--dark-color);
  font-weight: bold;
  border-color: var(--light-color);
}

.navbar .btn-login:hover {

  border-color: var(--light-color);
}

/* Login/Register */

.display-login {
  background-image: url('/assets/images/flou1.jpg');
  background-size: cover;
}

.wrapper {
  margin: 5rem;
  width: 400px;
  height: 537px;
  background: transparent;
  border: 2px solid var(--light-color);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .5s ease, height .2s ease;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}


.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}


.form-box h2 {
  font-size: 2em;
  color: var(--light-color);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--primary-color);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--dark-color);
  font-weight: bold;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--dark-color);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.btn-popup {
  width: 100%;
  height: 45px;
  background: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: var(--dark-color);
  font-weight: bold;
}

.login-register {
  font-size: .9em;
  color: var(--light-color);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: var(--light-color);
  text-decoration: none;
  font-weight: 700;
}

.login-register p a {
  text-decoration: underline;
}


/*footer*/
.footer {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--logo-font);
}

.footer p {
  color: var(--secondary-color);
  font-family: var(--logo-font);
}

.letters {
  color: var(--secondary-color);
  font-family: var(--logo-font);
}

a.logo:hover {
  font-family: var(--logo-font);
  color: var(--light-color);
}

/* ----------------------------------sidebar ---------------------------------- */

.bookmarks .offcanvas-header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.bookmarks .offcanvas-body {
  background-color: var(--secondary-color);
}

.bookmarks a,
.bookmarks a:hover,
.bookmarks a:visited,
.bookmarks a:active,
.bookmarks a:focus {
  text-decoration: none;
  color: unset;
}

.bookmarks .bm-card .on-air {
  color: green;
}

.bookmarks .bm-card-late .on-air {
  animation: 2s linear 0s infinite blink;
  color: red;
}

.bm-card {
  border-color: var(--secondary-color) !important;
  background: var(--primary-color);
  transition: var(--main-transition);
}

.bm-card-late {
  background: var(--primary-color);
  transition: var(--main-transition);
}

.bm-card-late:hover {
  background: var(--secondary-color);
  color: var(--light-color);
}

.bm-card:hover {
  border-color: var(--light-color) !important;
  background: var(--secondary-color);
  color: var(--light-color);
}

.bm-card .bm-train-number::after,
.bm-card-late .bm-train-number::after {
  display: inline-block;
  content: "";
  width: 10px;
  aspect-ratio: 1 / 1;
  background-color: var(--light-color);
  vertical-align: middle;
  border-radius: 100px;
  margin: 0 0 0 10px;

  transform: translate(100px);
  transform-origin: center;
  opacity: 0%;
  transition: var(--main-transition);
}

.bm-card:hover .bm-train-number::after,
.bm-card-late:hover .bm-train-number::after {
  transform: translate(0px);
  opacity: 100%;
}