:root {
    /* fonts ------------*/
    --logo-font: 'Monoton', cursive;

    /* colors -----------*/

    --primary-color: #FFE073;
    --secondary-color: #395055;
    --light-color: white;
    --dark-color: #1E1E1E;
}



.bg-image{
    background-image: url('../images/japan-train-railroad-railway-72594.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    
    
  
    
    
}

.container {
    margin : 1.5rem;
    height: 50%;   
}


.bg-Button{
    background-color: rgba(223, 215, 215, 0.2);
    padding-top: 3em;
    padding-bottom: 3em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3em;
    
    
    
    
}
.pad{
    padding-bottom: 4em;
    padding-top: 1em;
}
.bg-color{
    min-height: 100vh;
    background-image: linear-gradient(to bottom,  rgb(255,224,115,0.9), rgba(57,80,85,0.5));
    
}
.circle{
    width: 10%; 
    height: 63%; 
    background-color: #fff; 
    border-radius: 50%; 
  
}


.btn-hover-image{
    background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    color: #fff;
    border: none;
    padding: 7px 20px;
    border-radius: 25px;
    box-shadow: 10px 9px 4px 1px var(--secondary-color);
    outline: 2px solid white;
    font-weight: 700;
    text-align: left;  
}

.btn-hover-image:hover {
    background-image: linear-gradient(to left, rgb(255, 255, 254), var(--primary-color) );
}

.rightClasse {
    float: right;
}

.divButton{
    padding-bottom: 10px;
    margin-bottom: -25px;    
}


/* navbar -------------- */

nav.navbar {
    background-color: var(--primary-color);
}
nav form a.logo {
    font-family: var(--logo-font);
}
nav form a.logo:hover {
    color: var(--light-color);
}
nav form a.fav:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
