<div class="sidebar bg-dark text-white">
	<h3 class="mt-0 text-uppercase">Mes trains favoris</h3>
	<ul class="list-unstyled">
		<li><a href="#" class="text-white">TGV 123</a></li>
		<li><a href="#" class="text-white">TER 456</a></li>
		<li><a href="#" class="text-white">Eurostar 789</a></li>
		<li><a href="#" class="text-white">ICE 012</a></li>
	</ul>
</div>